* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: "comic mono";
}

header {
    width: 100%;
    /* background: #cbf5ce; */
    background: rgba(135, 207, 235, 0.486);
}

header ul {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

header ul li {
    display: block;
    width: 50px;
    color: chocolate;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

header ul li.active {
    color: coral;
}
header ul li:hover {
    color: coral;
}

header ul li::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 30px;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    z-index: -2;
}

h1 {
    text-align: center;
    margin: 50px auto;
    position: relative;
}

h1 mark.skyblue {
    padding: 5px 5px;
    /* background: rgba(135, 207, 235, 0.486); */
    background: #cbf5ce;
}

.p2 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p2 input {
    width: 150px;
    height: 30px;
    margin: 5px auto 10px;
}

.p2 h1 {
    margin: 30px auto;
}

.p3 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p3 select {
    margin: 20px auto;
    font-size: 24px;
}
.p3 h3 {
    margin: 0 auto 20px;
}
